#main {
    width: 550px;
    border: 2px solid #4d7aa2;
    border-radius: 8px;
    padding: 32px 80px;
    display: block;
    margin: auto;
}

#main .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper .showError {
    width: 100%;
}


form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 16px;
}

.form-group {
    width: 100%;
    display: flex;
    margin-bottom: 16px;
}

.form-group .form-label {

    align-items: center;
    display: flex;
    justify-content: center;
    width: 30%;
    text-align: center;
    background-color: #51ae15;
    padding: 8px 12px;
    border: 2px solid #4d7aa2;
    border-radius: 2px;
    margin-right: 16px;
    margin-bottom: 0;
    color: #fff;

}

.form-group .form-label .required {
    color: red;
    margin-left: 4px;
}

.form-group input {
    /* font-size: 24px; */
    padding: 8px 4px;
    border: 2px solid #4d7aa2;
    border-radius: 2px;
}

.name{
    width: 246px;
}

.khoa{
    width: 100px;
}

.labelRadio{
    align-self: center;
}

.form-group .form-input .radio-group {
    display: flex;
    flex-direction: row;
    margin-right: 24px;
}

.form-group #falcuties {

    /* font-size: 20px; */
    padding: 10px 4px;
    border: 2px solid #4d7aa2;
    border-radius: 2px;
}

.form-group .form-input #falcuties:focus,
.form-group .form-input input[type="text"]:focus {
    border: 2px solid #4d7aa2;
}

/* .form-group .form-input .radio-group {
    display: flex;
    flex-direction: row;
    margin-right: 24px;
} */

/* .form-group .form-input .radio-group label {
    font-size: 20px;
} */

form .submit-btn {
    text-align: center;
    width: 120px;
    color: #fff;
    background-color: #51ae15;
    font-size: 14px;
    padding: 12px;
    border: 2px solid #4d7aa2;
    border-radius: 6px;
}

